h1{
	color: #333;
	font-size: 25px;
}

.chartContainer{
	margin-right: auto;
	margin-left: auto
}

.jumbotron{
	background-image:url("img/header003notype.png");
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: -6px;
 }
 .jumbotron h1{
 	display: block;
 	font-size: 200%;
 	padding: 5%;
 }

 body { 
 	padding-top: 70px;
 }


 .navbar navbar-inverse navbar-fixed-top{
 	
 }