h1{
	color: #333;
	font-size: 25px;
}

.chartContainer{
	margin-right: auto;
	margin-left: auto
}

.jumbotron{
	background-image:url("img/header003.png");
	height: 258px;
	margin-right: auto;
	margin-left: auto;
	margin-top: -6px;
 }

 body { 
 	padding-top: 70px; }


 .navbar navbar-inverse navbar-fixed-top{
 	
 }